*{ background-color: gray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.app{
  background-color: grey;
}
header{
text-align: center;
margin-top: 4.6em;
font-size: 1.3em;
font-weight: bold;
}
.quiz-section{
  display: flex;
  align-items:left ;
  justify-content:left;
  flex-direction: column;
  margin: 6em;
 
  border: 1px solid ;
  height: auto;
  width: auto;
  background-color: black;
  color: white;
  border-radius: 2em;
  padding: 2em;
  font-size: 1.3em;
}
.options{
  display: flex;
  flex-direction: column;
  gap:0.7em;
  gap: 1.4em;
  background-color: black;
 }
 .option{
 
  padding: 0.6em;
  border-radius: 4%;
 }
 .title{
  text-align: center;
}
.question{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
}
.bg-color{
  background-color: black;
}
.result-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em;
  border: 1px solid black;
  background-color: white;
  height: auto;
  width: 30%;
  margin-left: 30git initgit init%;
  padding: 5em;
  
}
img{
  height: 100px;
  width:120px;
}
.btn{
  height: 5vh;
  width: 6vw;
  margin: 2em;
}
